<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title text-center">Choose from the options below</h5>
            <a routerLink="add-single-address"><button class="btn btn-primary single-address-button">Add Single Address</button></a>
            <br><br>
            <a routerLink="add-multiple-addresses"><button class="btn btn-primary multiple-address-button">Add Multiple Addresses</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>