body{
	margin: 0;
	padding: 0;
	background: var(--light-background);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
    color: var(--base-color-level-two);
}

.error-actions {
    margin-top:15px;
    margin-bottom:15px;
}

.error-details {
    font-weight: 450;
}

.error-actions .btn { 
    margin-right:10px;
}

.container {
    margin-top: 50px;
}