.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
	margin: 0;
	padding: 0;
	background: var(--light-background);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
  margin-bottom: 50px;
}

.form-heading {
  margin-top: 15px;
  margin-bottom: 15px;
  color: var(--base-color-level-one);
}

.input-field {
  border: solid 1.3px var(--base-color-level-two);
}

.common-font {
  font-weight: 500;
  color: var(--base-color-level-two)
}